body {
  background: #282724;
  width: 100vw;
  margin: 0rem;
  overflow-x: hidden;
  font-family: Geneva;
  
}

Header {
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1B1B1B;
  flex-direction: Row;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 2vw;
}

footer {
  background-color: #1B1B1B;
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 5vw;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  transition: .3s ease-out;
}

.logo:hover {
  transition-duration: 0.3s;
  border: 1px solid green;
  border-radius: 20px;
}

.flag {
  width: 20vw;
  background-color: black;
  border: 1px solid white;
  border-radius: 20px;
  transition: .3s ease-out;
  margin: 2vw;
}

.flag:hover {
  transition-duration: 0.3s;
  border: 1px solid green;
  border-radius: 20px;
}

.mainsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 15vw;
}

.title {
  border-bottom: 1px solid white;
  font-size: 3vw;
}

.link {
  color: #157F1F;
}

.subtitle {
  margin-top: 1vw;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75vw;
}

.cardBody {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1B1B1B;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
}

.cardBody2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border {
  border: 3px solid white;
  border-radius: 100vw;
  background-color: #1B1B1B;
}

.button {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  padding: 1vw;
  background-color: black;
  border: 1px solid white;
  border-radius: 40px;
  transition: .3s ease-out;
  margin: 2vw;
}

.button:hover {
  transition-duration: 0.3s;
  border: 1px solid green;
  border-radius: 20px;
  color: green;
}

.horizontalLine {
  border-bottom: 1px white;
}



@media (max-width: 600px) {
body {
  flex-direction: column;
}

header {
height: 20vw;
}

.logo {
  width: 10vw;
}

.image {
  height: 50vw;
}

.textbox {
  font-size: 3vw;
}

.body {
  display: flex;
  flex-direction: column;
}
}
