body {
    background-color: #96233e;
  }
  p {
    color: #236c96;
  }
  h1 {
    color: #239636;
    text-align: center;
  }
  img {
    text-align: center;
  }
  h2 {
    color: #239636;
   
  a:hover {
      color: yellow;
  text-decoration: bold;
    }
  a {
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    text-align: center;
  }